
/*
 *  * Heading      : #96BC1D
 *   * Background   : #F2F2F2
 *    * Borders      : #262626
 *     * FONT1        : #404040
 *      * FONT2        : #737373
 *       * FONT3        : #C0C0C0
 *        *
 *         */

html {
   background-color: white; 
  color:#737373;
  font-family:Helvetica,Arial,san-serif;
  font-size:13px;
}
a {
display:inline;
color:#A9C23F;
text-decoration: none;
}
#holder {
margin:0 auto;
width:800px;
height:auto;
background-color: #C4D600;
padding-bottom: 10px;
border-bottom:2px solid black;
}
h1 {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  padding-left:10px;
  padding-bottom:2px;
  margin: 0;
}
 h2 {
font-size: 20px;
font-weight: 0;
line-height: 0;
text-align: justify;
color: white;
float:left;
}
#logo {
  position: relative;
  top: -9px;
  float:left;
  width:50px;
}
.menubar {
float:left;
width: 790px;
height: auto;
background-color: #373E43;
border-bottom: 2px solid black;
padding-right: 10px;
}
#menu-items {
  float:right;
  color: #A9C23F;
  width: auto;
  margin: 3px;
  background-color: #373E43;
  padding: 3px;
  padding-top: 5px;
  padding-left: 6px;
  border-left: 1px solid #D9D9D6;
  border-top-left-radius: 10px;
}
#menu-items a:hover {
  color: white;
}


#left-title {
width: auto;
  float:left;
}

.left {
margin-top: 10px;
float:left;
padding-top: 4px;
}
.leftedge {
margin-top: 10px;
float:left;
margin-left: 23px;
margin-right: 10px;
}
.right {
float: right;
                                                           }
.input-box {
border: 1px solid #19435E;
color: #737373;
font-size: 16px;
padding: 2px;
background-color: #D9D9D6;
margin-right: 5px;
width: 150px;
}
.input-box2 {
border: 1px solid #19435E;
background-color: #D9D9D6;
color: #737373;
font-size: 16px;
padding: 2px;
margin-right: 5px;
}
.input-button {
border: 1px solid #737373;
color: white;
font-size: 14px;
margin-right: 5px;
padding: 3px;
cursor:pointer;
background-color: #5B6770;
border-bottom:1px solid black;
}
.input-button:hover {
background-color: #373E43;
}
.input-button:active {
  border: 1px solid black;
}
.input-area {
margin-top: 10px;
margin-bottom: 8px;
}
.status-info {
font-size: 14px;
color: #990000;
}
#ip-container {
height: 70px;
}
#ping-table {
width: 760px;
margin-left: 20px;
color: #002E4C;
}
#ping-head {
background: #5B6770;
border-bottom: 1px solid black;
clear: both;
color: #ffffff;
height: 25px;
}
#pinghead-packet {
float: left;
line-height: 25px;
width: 100px;
margin-left: 15px;
}

#pinghead-source {
float: left;
line-height: 25px;
width: 175px;
}
#pinghead-ip {
float: left;
line-height: 25px;
width: 175px;
}
#pinghead-ms {
float: left;
line-height: 25px;
width: 80px;
}
#pinghead-lost {
float: left;
line-height: 25px;
width: 100px;
}
#pinghead-ttl {
float: left;
line-height: 25px;
width: 100px;
}
#tracehead-hop {
  float: left;
  line-height: 25px;
  width: 50px;
  margin-left: 15px;
}
#tracehead-source {
  float: left;
  line-height: 25px;
  width: 175px;
}
#tracehead-dest {
  float: left;
  line-height: 25px;
  width: 350px;
}
#tracehead-ms1 {
  float: left;
  line-height: 25px;
  width: 50px;
}
#tracehead-ms2 {
  float: left;
  line-height: 25px;
  width: 50px;
}
#tracehead-ms3 {
  float: left;
  line-height: 25px;
  width: 50px;
}
#break {
width: 760px;
border-top: 2px solid white;
background-color: #002E4C;
height: 1px;
float: left;
}
.rowping-packet {
margin-left: 15px;
line-height: 20px;
width: 100px;
float: left;
}
.rowping-source {
  width: 175px;
  line-height: 20px;
  float: left;
}
.rowping-ip {
width: 180px;
line-height: 20px;
float: left;
}
 .rowping-ms {
width: 80px;
line-height: 20px;
float: left;
}

 .rowping-msfail {
width: 200px;
color: red;
line-height: 20px;
float: left;
}
.rowping-lost {
width: 100px;
line-height: 20px;
float: left;
}
.rowping-ttl {
width: 100px;
line-height: 20px;
float: left;
}
.tracerow-hop {
margin-left: 15px;
line-height: 20px;
width: 50px;
float: left;
}
.tracerow-source {
width: 175px;
  line-height: 20px;
    float: left;
}
.tracerow-dest {
width: 350px;
line-height: 20px;
float: left;
}
.tracerow-ms1 {
width: 50px;
line-height: 20px;
float: left;
}
.tracerow-ms2 {
  width: 50px;
  line-height: 20px;
  float: left;
}
.tracerow-ms3 {
  width: 50px;
  line-height: 20px;
  float: left;
}


        .pass {
              color: #0395CC;
            }

            .fail {
                  color: red;
                }

                .unknown {
                      color: #CCCC78;
                    }

