#file-container {
width: 100%;

}
#menu-head {
  background-color:black;
width: 1250px;
border-bottom: 1px solid limeGreen;
padding-left: 10px;
float: left;
}
#file-head {
  width: 150px;
float: left;
}
#access-head {
  width: 150px;
float: left;
}
#desc-head {
  width: 500px;
float: left;
}

#author-head {
  width: 150px;
float: left;
}
#date-head {
  width: 150px;
float: left;
}
#submit-head {
  width: 150px;
float: left;
}
 .result-position {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  z-index: 10000;
}
#result-wrapper {
z-index: 10001; width: 700px; margin: 70px auto;padding:0;
}
#result-container {
background-color: #FFF;padding: 20px; padding-right: 23px; border-radius: 4px;
height: 400px;
overflow-x: scroll;
}
#result-exit {
  float: right;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#result-exit:hover {
  cursor:pointer;
   text-shadow: -1px -1px black;
 }
 #result-title {
color: #595959; font-size: 20px; float:left; border-bottom: 1px solid black; width: 100%;
margin-bottom: 10px;
}

.update-title {
  padding: 3px;
  float: left;
  width: 654px;
  background-color: #333333;
  font-size: 16px;
}
#result-body {
  float: left;
  font-size: 12px;
}
#refresh {
  width: 654px;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

 #utilfilestitle {
   float: left;
 }
#updatescript {
  margin-top: 18px;
  float: left;
  margin-bottom: 15px;
  margin-left: 50px;
  background-color:black;
  padding: 4px;
  font-size: 16px;
  border: 1px solid #333333;
}
#updatescript:hover {
  border: 1px solid LimeGreen;
  cursor: pointer;
}
